{% extends 'main.html' %}
{#{% load drug_tags %}#}
{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div class="news-name"><h1 class="title">{{ title }}</h1></div>
                <div class="products">
                    <div class="product-list">
                        <div class="cat__cell">
                            <div class="cat__cell">
                                <ul>
                                    {% for laboratory in laboratories %}
                                        <div class="cat__cell-title"
                                             data-tab="subcategories-block-{{ forloop.counter }}">
                                            <img src="{{ laboratory.image.url }}" alt="">
                                            <a href="{% url 'laboratory_detail' laboratory.id %}">{{ laboratory.name }}</a>
                                      </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if not laboratories %}
                        <span>Пусто</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
