{% extends 'main.html' %}
{#{% load drug_tags %}#}
{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div class="news-name"><h1 class="title">{{ title }}</h1></div>
                <div class="products">
                    <div class="product-list">
                        <div class="cat__cell">
                            <div class="cat__cell">
                                <ul>
                                    {% for laboratory in laboratories %}
                                        <li>
{#                                             <a href="{% url 'analyze-detail' analyze.id %}">{{ analyze.title }}</a>#}
                                        <h2>{{ laboratory.name }}</h2>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if not laboratories %}
                        <span>Пусто</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
