{% load static %}
{#{% load drug_tags %}#}
<footer class="footer">

    <div class="bottom-footer">
        <div class="container flex flex-between">
            <div class="ftr-block popular-posts">
                <div class="ftr-contact"><a href="#" class="ftr-contact__link ">Каталог</a></div>
                <div class="ftr-contact"><a href="#" class="ftr-contact__link ">Аптеки</a>
                </div>
                <div class="ftr-contact"><a href="#" class="ftr-contact__link ">Новости</a></div>
                <div class="ftr-contact"><a href="#" class="ftr-contact__link ">Статьи</a></div>
                <div class="ftr-contact"><a href="#" class="ftr-contact__link ">Контакты</a></div>
            </div>

{#            {% footer_contact %}#}

        </div>
    </div>
</footer>
