{% load static %}
{#{% load drug_tags %}#}
<header class="header">
    <div class="topline">
        <div class="container flex flex-between">
            <div class="xs-search-btn"></div>
            <div class="logo">
                <a href="{% url 'index' %}">
                    <div class="logo-wrapper">
                        <img class="logo-number-one" src="{% static "images/logotype.png" %}" alt="">
                        <img class="logo-number-two" src="{% static "images/logo1.png" %}" alt="">
                    </div>
                </a>
            </div>
            <div class="top-search">
                <form class="search-form" action="
{#{% url 'search' %}#}
">
                    <input type="text" class="search-input" name="item" placeholder="Поиск лекарств, аптек, изделий"/>
                    <input type="submit" class="search-btn" value="Поиск"/>
                </form>
            </div>
            {#            <div class="city-block">#}
            {#                <span class="current-city">Бишкек</span>#}
            {#                <div class="city-list">#}
            {#                    <div class="city-list__item"><a href=""><span>Ош</span></a></div>#}
            {#                    <div class="city-list__item"><a href=""><span>Каракол</span></a></div>#}
            {#                    <div class="city-list__item"><a href=""><span>Нарын</span></a></div>#}
            {#                </div>#}
            {#            </div>#}
            <div class="login-block">
                {% if request.user.is_authenticated %}
                    <a href="
{#{% url 'logout' %}#}
" class="btn main-btn sign-in">Выйти</a>
                {% else %}
                    <a href="
{#{% url 'login' %}#}
" class="btn main-btn sign-in">Войти</a>
                {% endif %}
            </div>
            <div class="mobile-menu"></div>
        </div>
    </div>
    <div class="container flex flex-between  xs-bottom-menu">
        <nav class="top-menu">
            <ul>
                <li><a href="{% url 'index' %}"
                       class="top-menu__item
{#{% active_menu_class 'main' request %#}
}">Главная</a></li>
                <li><a href="{% url 'catalog' %}" class="top-menu__item
{#{% active_menu_class 'category' request %}#}
">Каталог</a>
{#                    {% drug_type_list %}#}
                </li>
                <li><a href="{% url 'pharmacy' %}" class="top-menu__item {#{% active_menu_class 'pharmacy' request %}#}">Аптеки</a>
{#                    {% region_list %}#}
                </li>
                <li><a href="{% url 'doctors' %}" class="top-menu__item{#{% active_menu_class 'news' request %}#}">Врачи</a></li>
                <li><a href="{% url 'category' %}" class="top-menu__item{#{% active_menu_class 'news' request %}#}">Анализы</a></li>
                <li><a href="{% url 'news' %}" class="top-menu__item{#{% active_menu_class 'news' request %}#}">Новости</a></li>
                <li><a href="{% url 'articles' %}" class="top-menu__item{#{% active_menu_class 'article' request %}#}">Статьи</a></li>
                <li><a href="{% url 'contacts' %}" class="top-menu__item{#{% active_menu_class 'about' request %}#}">Контакты</a></li>
            </ul>
        </nav>
        <div class="profile-link">
            {% if request.user.is_authenticated and not request.user.is_superuser %}
                <a href="{% url 'pharmacy_setting' %}" class="top-menu__item">Профиль</a>
                <a href="{% url 'add_drug' %}" class="top-menu__item">Настройки</a>
            {% endif %}
        </div>
        {#        <div class="xs-visible xs-select-region"><a href="javascript:void(0)" class="select-region-btn">Выбрать#}
        {#            город</a></div>#}
        <div class="login-block xs-visible">
            {% if request.user.is_authenticated %}
                <a href="
{#{% url 'logout' %}#}
" class="btn main-btn sign-in">Выйти</a>
            {% else %}
                <a href="
{#{% url 'login' %}#}
" class="btn main-btn sign-in">Войти</a>
            {% endif %}
        </div>
    </div>
</header>