{% extends 'main.html' %}
{#{% load laboratory_tags %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категория</title>
</head>
<body>
{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div class="laboratory-name">
                    <h1 class="title">
                        Специалисты
                    </h1>
                </div>
                <div class="categories">
                    <div class="categories">
                        {% for doctor_type in doctor_types %}
                            <div class="cat__cell">
                                <div class="cat__cell">
                                    <div class="cat__cell-title" data-tab="subcategories-block-{{ forloop.counter }}">
                                        <img src="{{ doctor_type.image.url }}" alt="">
                                        <a href="{% url 'doctor_list' doctor_type.pk  %}"> {{ doctor_type.name }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>